{
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@pages/(.*)$",
    "^@lib/(.*)$",
    "^@layouts/(.*)$",
    "^@components/(.*)$",
    "^@containers/(.*)$",
    "^@hooks/(.*)$",
    "^@graphql/(.*)$",
    "^[./]"
  ]
}
